h1 {
    font-family: AmstelvarAlpha;
font-style: normal;
font-weight: normal;
font-size: 36px;
width: 257px;
height: 70px;
left: 66px;
top: 173px;

}

h2 {
    font-family: AmstelvarAlpha;
font-style: normal;
font-weight: normal;
font-size: 36px;
padding-top: 30px;
}

p {
    font-family: AmstelvarAlpha;
font-style: normal;
font-weight: normal;
font-size: 18px;
padding: 20px;
}

body {
    margin:0px;
}

header {
   margin: 0;
   text-align: center;
}

main {
    margin: 0px;
    padding:0;
    }

.welcome {
   text-align: center;
    background: url(210720_images/peonies.jpg);
   
}

.story {
    text-align:center;
    margin-top: -30px;
    
    background: rgba(232, 226, 220, 0.7);
    backdrop-filter: blur(4px); 
    padding-bottom: 20px;
}

.timer { /* hier fehlt noch die Transparenz für das Bild für den Hintergrund */
    position: relative;
    text-align:center;
    margin-top: -30px;
    padding-bottom: 20px;
}

.timer h2 {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #000;
}

.timer p {
    text-align: center;
    z-index: 2;
    position: relative;
    color: #000;
}


.timer img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 90px;
    opacity: 0.5;
    z-index: 1;

}

.hotels {

    text-align:center;
    margin-top: -30px;

    background: rgba(232, 226, 220, 0.7);
    padding-bottom: 20px;
}

.gifts { /* hier fehlt noch die Transparenz für das Bild für den Hintergrund */
 
    text-align:center;
    margin-top: -30px;

    background: rgba(168, 136, 142, 0.7);
    backdrop-filter: blur(4px);
    padding-bottom: 20px;
}

.menue {

    text-align:center;
    margin-top: -30px;

    background: rgba(232, 226, 220, 0.7);
    background: url(210720_images/menue.jpg);
    padding-bottom: 20px;
}

.contact {

    text-align:center;
    margin-top: -30px;

    background: rgba(168, 136, 142, 0.7);
    padding-bottom: 20px;
}

.footer {


    background: rgba(232, 226, 220, 0.7);
}